.bg-whychooseus-2 {
    position: relative;
    background-image: url(../imgs/page/homepage3/bg-whychooseus.png);
    background-size: cover;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: $color-brand-2;
        opacity: 0.8;
        top: 0px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }
    .container {
        position: relative;
        z-index: 2;
    }

    h2 {
        line-height: 1.35;
    }
}

.whychooseus-stats-layout {
    .whychooseus-stats-text {
        padding-right: 40px;

        h2 {
            max-width: 520px;
        }
    }

    .whychooseus-stats-grid {
        padding-left: 10px;
    }
}

@include media-breakpoint-down(lg) {
    .whychooseus-stats-layout {
        .whychooseus-stats-text {
            padding-right: 15px;
        }

        .whychooseus-stats-grid {
            padding-left: 0;
        }
    }
}
.box-item-number {
    position: relative;
    padding: 35px 26px;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 96px;
        height: 100%;
        z-index: 1;
        background-color: $color-brand-1;
    }
    .item-number {
        position: relative;
        z-index: 2;
    }
    &.box-item-number-white {
        &::before {
            background-color: $background-white;
        }
    }
    &.box-item-number-2 {
        position: relative;
        padding: 35px 5px 35px 35px;
        margin-left: 20px;
    }
    &.box-item-number-3 {
        position: relative;
        padding: 35px 5px 35px 45px;
    }
    &.box-item-number-4 {
        position: relative;
        padding: 35px 5px 35px 60px;
        margin-left: 20px;
    }
}